!!! 5
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", :http_equiv =>"Content-Type"}
	%body
		%h1 Welcome To TrendNG
		%p
			You have successfully registered an accout with
			= link_to ENV["DOMAIN"], root_url
			/.
		%p
			We hope you'd have fun using our service.