%a
	%strong
		%i.glyphicon.glyphicon-info-sign
		Options
%hr/
%ul.nav.nav-pills.nav-stacked
	%li
		%a
			%i.glyphicon.glyphicon-flash
			Alerts
	%li
		%a
			%i.glyphicon.glyphicon-list-alt
			Reports
	- if current_user.has_role? :admin
		%li
			%a{:href => "#{dashboard_users_url}"}
				%i.glyphicon.glyphicon-user
				Manage Users
	%li
		%a
			%i.glyphicon.glyphicon-briefcase
			Ads campaign Management