.container
	.row.mt.centered
		.col-lg-6.col-lg-offset-3
			%h1 
				Earn Money
				%br/
				Without Lifting A Finger
			%h3
				Our automated system makes sure you get the best experience while you earn on each tweet sent via your account.
	.row.mt.centered
		.col-lg-4
			= image_tag "ser01.png", {width: 180}
			%h4 Browser Independent
			%p
				With our highly intelligent system, you don't have to send a tweet for us manually. Ever!!!
		.col-lg-4
			= image_tag "ser02.png", {width: 180}
			%h4 Personalised Content
			%p
				We will only serve higly relevant ads through your account so that you don't ever have to worry about "Spammy" tweets.
		.col-lg-4
			= image_tag "ser03.png", {width: 180}
			%h4 Detailed Reports
			%p
				Every activity that happens on your account is logged and can be viewed by you at any time. This way, you can monitor how much you are making.