= simple_form_for @user, html: { class: "form-inline" } do |f|
	.form-group
		= f.input_field :email, placeholder: 'Enter your email'
	= f.button :submit, 'Invite me!', class: 'btn btn-warning btn-lg'